* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
html {
    font-size: 62.5%;
}
body {

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    font-size: 3rem;
    font-weight: bold;

    overflow: hidden;
}

.bg {
    background: url("https://images.unsplash.com/photo-1641972721815-1462baa62b5a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2075&q=80")
        no-repeat center center/cover;
    position: absolute;
    top: -30px;
    left: -30px;
    width: calc(100vw + 60px);
    height: calc(100vh + 60px);
    z-index: -1;
    filter: blur(0px);
}

.loading-text {
    font-size: 20px;
    color: rgb(180, 180, 180);
}
